/*
 * This file is part of ARSnova Mobile.
 * Copyright (C) 2011-2012 Christian Thomas Weber
 * Copyright (C) 2012-2016 The ARSnova Team
 *
 * ARSnova Mobile is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * ARSnova Mobile is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with ARSnova Mobile.  If not, see <http://www.gnu.org/licenses/>.
 */

.markdownButton {
	color: $markdown-button-color;
	background: $markdown-button-bg-color;
	border-radius: 5px 5px 5px 5px !important;
	border: 1px double $markdown-button-color;
	height: 40px !important;
	width: 40px;
	margin-right: 2px;

	.x-button-icon {
		opacity: 0.85;
		font-size: 0.86em;
		margin-left: -4px;
		margin-top: -1px;
	}

	&:hover {
		background-color: $button-hover-color;
		cursor: pointer;
	}
}

.markDownEditorPanel {
	.x-scroll-container {
		background-color: $form-bg-color;
		border-top-left-radius: 0.4em;
		border-top-right-radius: 0.4em;
	}
}

.inputPanel .x-form-field {
	min-height: 2.5em;
}

div[id^=ext-mathJaxMarkDownPanel] * {
	width: 100%;
}

.videoImageParagraph {
	pointer-events: none;
}

.videoImageContainer {
	position: relative;
	display: inline-block;
	max-width: 320px;
	display: block;
	margin: auto;

	&:before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 5px;
		pointer-events: all;
		background-color: grey;
		opacity: 0.35;
	}

	&:after {
		color: white;
		position: absolute;
		top: 25%;
		left: 5%;
		right: 0;
		bottom: 0;
		text-align: center;
		font-family: "arsnova";
		content: "\f01d";
		font-size: 70px;
	}

	img {
		max-width: 320px;
	}
}

.icon-editor-ul,
.icon-editor-ol,
.icon-editor-code {
	margin-left: -5px !important;
}

.icon-editor-quote {
	margin-bottom: -5px !important;
}

.icon-editor-image,
.icon-editor-vimeo,
.icon-editor-quote,
.icon-editor-script,
.icon-editor-youtube,
.icon-editor-hyperlink {
	margin-left: -2px !important;
}

.markdownButton .info {
	margin-bottom: -0.5px !important;
	margin-left: -5px !important;
	font-size: 1em;
}

div[id^=ext-mathJaxMarkDownPanel] {
	table {
		border-collapse: collapse;
		table-layout: fixed;
	}

	table, tr, td, th {
		border: 1px solid $brand-text;
	}

	td {
		background-color: $form-bg-color;
	}

	th {
		background-color: $brand-text;
		color: white;
	}

	pre {
		margin: 0;
	}
}

.hideMediaDummy {
	color: $brand-icons;
	background: white;
	border-radius: 5px 5px 5px 5px !important;
	border: 1px double $markdown-button-color;
	width: 42px !important;
	margin-right: 2px;
	height: 40px;

	span {
		position: relative;
		background-repeat: no-repeat;
		background-position: center;
		display: block;
		opacity: 0.85;
		font-size: 0.86em;
		width: 40px;
		height: 40px;

		&::before {
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			font-size: 1.6em;
			text-align: center;
		}
	}
}

.activateTooltip {
	.x-inner,
	.x-dock-body,
	.x-body.x-scroll-view {
		overflow: visible;
	}
}

.x-ie .buttonTooltip {
	&:after,
	&:before,
	&:hover:after,
	&:hover:before {
		display: none;
	}
}

.buttonTooltip {
	overflow: visible;
	position: relative;
	text-decoration: none;
}

.buttonTooltip:after {
	left: -30%;
	bottom: 160%;
	content: attr(data-tooltip);
	position: absolute;
	background: $tooltip-background-color !important;
	padding: 5px 15px;
	color: black;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	white-space: nowrap;
	opacity: 0;
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	transition: all 0.2s ease;
	color: $tooltip-text-color;
	pointer-events: none;
}

.buttonTooltip:before {
	width: 0;
	height: 0;
	content: "";
	position: absolute;
	border-top: 16px solid $tooltip-background-color !important;
	border-left: 16px solid transparent;
	border-right: 16px solid transparent;
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	transition: all 0.2s ease;
	pointer-events: none;
	opacity: 0;
	left: 10%;
	bottom: 120%;	
}

.buttonTooltip:hover:after {
	bottom: 130%;
}

.buttonTooltip:hover:before {
	bottom: 90%;
}

.buttonTooltip:hover:after, .buttonTooltip:hover:before {
	opacity: 1;
}
